<div class="start">
  <div class="start__card">
    <p class="start__card-title">Informações Gerais</p>
    <p class="start__card-text">Você terá acesso as suas informações cadastrais.</p>
    <button class="start__card-button" (click)="goTo('/geral')">Acessar</button>
  </div>
  <div class="start__card">
    <p class="start__card-title">Informações dos Cartões</p>
    <p class="start__card-text">Você terá acesso as informações dos seus cartões de débito e crédito.</p>
    <button class="start__card-button" (click)="goTo('/transacoes')">Acessar</button>
  </div>
</div>
