<div class="transactions__items-container">
  <div class="transactions__items-group">
    <div class="transactions__item">
      <span class="transactions__item-dot transactions__item-dot--green"></span>
      <div class="transactions__item-info transactions__item-info--left">
        <span>Laura dos Santos</span>
      </div>
      <div class="transactions__item-info transactions__item-info--center">
        <span>12/03/2024</span>
      </div>
      <div class="transactions__item-info transactions__item-info--right">
        <span>R$40,00</span>
      </div>
    </div>
    <div class="transactions__divider"></div>
    <div class="transactions__item">
      <span class="transactions__item-dot transactions__item-dot--green"></span>
      <div class="transactions__item-info transactions__item-info--left">
        <span>Fábio Oliveira</span>
      </div>
      <div class="transactions__item-info transactions__item-info--center">
        <span>10/03/2024</span>
      </div>
      <div class="transactions__item-info transactions__item-info--right">
        <span>R$60,00</span>
      </div>
    </div>
    <div class="transactions__divider"></div>
    <div class="transactions__item">
      <span class="transactions__item-dot transactions__item-dot--green"></span>
      <div class="transactions__item-info transactions__item-info--left">
        <span>Caio da Silva</span>
      </div>
      <div class="transactions__item-info transactions__item-info--center">
        <span>12/02/2024</span>
      </div>
      <div class="transactions__item-info transactions__item-info--right">
        <span>R$100,00</span>
      </div>
    </div>
    <div class="transactions__divider"></div>
    <div class="transactions__item">
      <span class="transactions__item-dot transactions__item-dot--green"></span>
      <div class="transactions__item-info transactions__item-info--left">
        <span>Bruno Alves</span>
      </div>
      <div class="transactions__item-info transactions__item-info--center">
        <span>02/02/2024</span>
      </div>
      <div class="transactions__item-info transactions__item-info--right">
        <span>R$10,00</span>
      </div>
    </div>
    <div class="transactions__divider"></div>
    <div class="transactions__item">
      <span class="transactions__item-dot transactions__item-dot--green"></span>
      <div class="transactions__item-info transactions__item-info--left">
        <span>Juliana Medeiros</span>
      </div>
      <div class="transactions__item-info transactions__item-info--center">
        <span>05/01/2024</span>
      </div>
      <div class="transactions__item-info transactions__item-info--right">
        <span>R$15,50</span>
      </div>
    </div>
  </div>
</div>
