<div class="transactions">
  <div class="transactions__cards-container">
    <div class="card-group-left" routerLinkActive="card-group-left--selected">
      <a routerLink="credito">
        <div class="card card--credit">
          <div class="logo"><img
              src="https://raw.githubusercontent.com/dasShounak/freeUseImages/main/Visa-Logo-PNG-Image.png" alt="Visa">
          </div>
          <div class="chip"><img src="https://raw.githubusercontent.com/dasShounak/freeUseImages/main/chip.png"
              alt="chip"></div>
          <div class="number">1234 5678 9012 3456</div>
          <div class="name">SHOUNAK DAS</div>
          <div class="from">10/19</div>
          <div class="to">06/21</div>
          <div class="ring"></div>
        </div>
      </a>
    </div>

    <div class="card-group-right" routerLinkActive="card-group-left--selected">
      <a routerLink="debito">
        <div class="card card--debit">
          <div class="logo"><img
              src="https://raw.githubusercontent.com/dasShounak/freeUseImages/main/Visa-Logo-PNG-Image.png" alt="Visa">
          </div>
          <div class="chip"><img src="https://raw.githubusercontent.com/dasShounak/freeUseImages/main/chip.png"
              alt="chip"></div>
          <div class="number">1234 5678 9012 3456</div>
          <div class="name">SHOUNAK DAS</div>
          <div class="from">10/19</div>
          <div class="to">06/21</div>
          <div class="ring"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="transactions__content">
    <router-outlet></router-outlet>
  </div>
</div>
