<div class="container">
  <div class="card">
    <div class="card__side-menu">
      <a routerLink="" class="menu__link">
        <div class="menu__item" routerLinkActive="menu__item--selected" [routerLinkActiveOptions]="{ exact: true }">
          <span class="material-symbols-outlined menu__item-icon">
            home
          </span>
          Início
        </div>
      </a>
      <a routerLink="geral" class="menu__link">
        <div class="menu__item" routerLinkActive="menu__item--selected" [routerLinkActiveOptions]="{ exact: false }">
          <span class="material-symbols-outlined menu__item-icon">
            person
          </span>
          Geral
        </div>
      </a>
      <a routerLink="/transacoes" class="menu__link">
        <div class="menu__item" routerLinkActive="menu__item--selected">
          <span class="material-symbols-outlined menu__item-icon">
            credit_card
          </span>
          Transações
        </div>
      </a>
    </div>
    <div class="card__content">
      <router-outlet></router-outlet>

      <!-- ================= Página Not Found ================= -->
      <!-- <div class="not-found">
        <h1 class="not-found__code">404</h1>
        <p class="not-found__message">Ops, a página que você procura não foi encontrada.</p>
        <button class="not-found__button">Ir para o Início</button>
      </div> -->
    </div>
  </div>
</div>
