<div class="general__user-item">
  <span class="general__item-title">Nome: </span>
  <span class="general__item-value">Felipe da Silva Freitas</span>
</div>
<div class="general__divider"></div>
<div class="general__user-item">
  <span class="general__item-title">Data de Nascimento: </span>
  <span class="general__item-value">14/01/1997</span>
</div>
<div class="general__divider"></div>
<div class="general__user-item">
  <span class="general__item-title">Gênero: </span>
  <span class="general__item-value">Masculino</span>
</div>
<div class="general__divider"></div>
<div class="general__user-item">
  <span class="general__item-title">Nacionalidade: </span>
  <span class="general__item-value">Brasileira</span>
</div>
